#root {
  max-width: 1920px;
  margin: 0 auto;
  max-height: 100vh;
  padding: 2rem;
  text-align: center; 
}

.card {
  padding: 2em;
}

.container {
  width: 100%;
}

.tag {
  mix-blend-mode: "screen"
}